:root {
    /* --main-font: "Roboto", sans-serif; */
    --main-color: #335C67;
    --second-color: #FFF3B0;
    --wine-color1: #E09F3E;
    --wine-color2: #9E2A2B;
    --wine-color3: #540B0E;
}

body{
    background-color: var(--wine-color2);
    margin: 0px;
    width: 100%;
}

/* #Home{
    margin: 50px;
    display: flex;
    justify-content: space-around;

} */

.teaBanner{
    max-width: 500px; 
    padding: 20px; 
}

.main-carousel{
    min-width: 100%;
    min-height: 50vh;
}

.cell{
    width: 100%;
    min-height: 50vh;
    display: grid;
    place-items: center;
    /* background-color: var(--wine-color2); */
}

.cell:nth-child(1) {
    background-color: var(--wine-color3);
    background-image: url("WineBanner1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 4em;
}

.cell:nth-child(2) {
    background-color: var(--wine-color3);
    background-image: url("WineBanner2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 4em;
}

.cell:nth-child(3) {
    background-color: var(--wine-color3);
    background-image: url("WineBanner3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* color: white; */
    font-size: 4em;
}

.cell:nth-child(4) {
    background-color: var(--wine-color3);
    background-image: url("WineBanner4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* color: white; */
    font-size: 4em;
}

.cell:nth-child(5) {
    background-color: var(--wine-color3);
    background-image: url("WineBanner5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* color: white; */
    font-size: 4em;
}

.description{
    padding: 20px 300px;
    display: flex;
    justify-content: flex-end;
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.product-card{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    /* border: 2px solid red; */

    /* flex: 1 16% */
}

.product-image img{
    max-width: 100%;
    border-radius: 20%;
}

.product-info{
    margin-top: auto;
    border: 1px solid red;
    width: 100%;
    text-align: center;
}

