:root {
    /* --main-font: "Roboto", sans-serif; */
    --main-color: #335C67;
    --second-color: #FFF3B0;
    --wine-color1: #E09F3E;
    --wine-color2: #9E2A2B;
    --wine-color3: #540B0E;
}

body{
    background-color: var(--wine-color2);
    margin: 0px;
    width: 100%;
}

/* #Home{
    margin: 50px;
    display: flex;
    justify-content: space-around;

} */

.teaBanner{
    max-width: 500px; 
    padding: 20px; 
}

.main-carousel{
    min-width: 100%;
    min-height: 50vh;
}

.cell{
    width: 100%;
    min-height: 50vh;
    display: grid;
    place-items: center;
    /* background-color: var(--wine-color2); */
}

.cell:nth-child(1) {
    background-color: var(--wine-color3);
    background-image: url("banner/WineBanner1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 4em;
}

.cell:nth-child(2) {
    background-color: var(--wine-color3);
    background-image: url("banner/WineBanner2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 4em;
}

.cell:nth-child(3) {
    background-color: var(--wine-color3);
    background-image: url("banner/WineBanner3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* color: white; */
    font-size: 4em;
}

.cell:nth-child(4) {
    background-color: var(--wine-color3);
    background-image: url("banner/WineBanner4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* color: white; */
    font-size: 4em;
}

.cell:nth-child(5) {
    background-color: var(--wine-color3);
    background-image: url("banner/WineBanner5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* color: white; */
    font-size: 4em;
}

.description{
    padding: 20px 300px;
    display: flex;
    justify-content: flex-end;
}

.talkingWine{
    margin: 50px;
}

.wineDescription{
    padding: 20px;
}

.wineDescription p{
    color: rgb(216, 215, 215);
}

.privacyPolicy{
    /* background-color: whitesmoke; */
    color: antiquewhite;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card{
    padding: 10px;
    flex-grow: 1;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    /* border: 2px solid red; */

    /* flex: 1 16% */
}

.product-image img{
    max-width: 100%;
    height: 250px;
    border-radius: 20%;
    /* margin: 2px; */
}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid var(--main-color);
    width: 85%;
    text-align: center;
}

.product-info p{
    padding: 10px;
}

.product-info button{
    width: 50%;
    margin: 5px;
}

